.Projects {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 50px 0;
}

.Projects__title {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.Projects__text {
  max-width: 700px;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  margin: 0;
  padding: 30px 0 50px;
}

.Projects__list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Projects__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 50px;
}

.Projects__item:nth-of-type(even) {
  flex-direction: row-reverse;
}

.Projects__item-description {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Projects__item-image {
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.Projects__item-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.Projects__item-text {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 400;
  color: rgb(105, 105, 105);
  margin: 0;
  padding: 20px 0;
}

.Projects__item-link {
  width: fit-content;
  font-size: 1.2rem;
  line-height: 2rem;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid white;
  margin: 10px 0;
  padding: 0;
  transition: all ease-in-out 0.2s;
}

.Projects__item-link:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}

@media screen and (max-width:900px) {
  .Projects__title {
    font-size: 2rem;
  }
  
  .Projects__text {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 20px 0 50px;
  }

  .Projects__item {
    gap: 30px;
    padding: 40px;
  }

  .Projects__item-title {
    font-size: 1.5rem;
  }
  
  .Projects__item-text {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 20px 0;
  }
  
  .Projects__item-link {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 5px 0 0;
  }
}

@media screen and (max-width:700px) {
  .Projects__title {
    font-size: 2rem;
    text-align: center;
    padding: 0 30px;
  }

  .Projects__text {
    padding: 20px 30px 30px;
  }

  .Projects__item {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
  }

  .Projects__item:nth-of-type(even) {
    flex-direction: column-reverse;
  }

  .Projects__item-image {
    width: 100%;
  }

  .Projects__item-text {
    text-align: center;
  }

  .Projects__item-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
