.Header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(137, 164, 252) 100%);
  margin: 0;
  padding: 100px 0 0;
}

.Header__background {
  position: relative;
  width: 100%;
  margin: 100px 0 0 0;
  padding: 0;
}

.Header__navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-bottom: 2px solid rgba(128, 128, 128, 0.1);
  margin: 0 auto;
  padding: 0;
  z-index: 10;
}

.Header__nav-burger {
  display: none;
}

.Header__nav-burger_button {
  display: none;
}

.Header__navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

.Header__navigation-item {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: black;
  cursor: pointer;
  margin: 0 20px;
  padding: 5px 0;
  border-bottom: 2px solid white;
  transition: border-bottom 0.4s;
}

.Header__navigation-item:hover {
  border-bottom: 2px solid rgb(137, 164, 252);
}

.Header__container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.Header__text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.Header__pre-title {
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  padding: 20px 0;
}

.Header__title {
  font-size: 3.5rem;
  margin: 0;
  padding: 10px 0;
}

.Header__subtitle {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  padding: 20px 0;
}

.Header__text {
  max-width: 560px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 10px 0 0;
}

.Header__profile {
  width: 350px;
  height: 350px;
  background-color: #c9b9b9;
  background-image: url('../../images/Profile/profile.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 80%;
  border: none;
  border-radius: 200px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

@media screen and (max-width:900px) {
  .Header__navigation-item {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 15px;
  }

  .Header__pre-title {
    font-weight: 100;
    font-size: 1.5rem;
    padding: 10px 0;
  }

  .Header__title {
    font-size: 3rem;
    padding: 10px 0;
  }

  .Header__subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px 0;
  }

  .Header__text {
    max-width: 560px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px 0 0;
  }

  .Header__profile {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width:700px) {
  .Header {
    padding: 60px 0 0;
  }

  .Header__background {
    margin: 50px 0 0 0;
  }

  .Header__container {
    flex-direction: column;
  }

  .Header__text-container {
    width: 100%;
    align-items: center;
  }

  .Header__text {
    text-align: center;
    padding: 10px 20px 0;
  }
}

@media screen and (max-width:500px) {
  .Header__navigation-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .Header__navigation-container-open {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .Header__navigation {
    display: none;
  }

  .Header__nav-burger_button__container {
    width: 100%;
    background-color: white;
  }

  .Header__nav-burger_button {
    display: block;
    width: 40px;
    height: 40px;
    align-self: flex-start;
    margin: 0;
    padding: 5px 10px;
  }

  .Header__nav-burger {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    gap: 30px;
    z-index: 10;
    list-style: none;
    margin: 0;
    padding: 20px 0 10px;
  }

  .Header__navigation-item {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 300px;
  }

  .Header__navigation-item:hover {
    border-bottom: 1px solid rgb(137, 164, 252);
  }
  
}
